<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <link rel="icon" href="/static/image/favicon.png">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    
</head>
<body>

    {% include 'navigator.html' %}
    
    <div class="container mt-5">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <script>
                    alert("{{ messages[0] }}");
                </script>
            {% endif %}
        {% endwith %}

        <h1 class="fancy-title">쇼핑몰</h1>

        <div class="row mt-4">
            {% for product in products %}
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img src="{{ product.image_path }}" class="card-img-top" alt="상품 이미지">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.product_id }}</h5>
                        <p class="card-text"> 가격 : {{ int(product.price) }} 원</p>
                        <p class="card-text">{{ product.description }}</p>
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#purchaseModal{{ product.product_id }}">구매하기</a>
                    </div>
                </div>
            </div>
            <script>
                console.log("이미지 경로:", "{{ product.image_path }}");
            </script>
            {% endfor %}

        </div>

        <!-- 모달 포함 -->
        {% for product in products %}
            {% include 'product_modal.html' %}
        {% endfor %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
